﻿@model Oefeningenreeks3.Models.BandLid
@using Oefeningenreeks3.Models

<h2>@Model.GetType().Name</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Naam)
    @Html.TextBoxFor(m => m.Naam, "", new { @class = "form-control" })
    @*@Html.ValidationMessageFor(m => m.Naam,"", new { @class = "text-danger" })*@
    <br />
    @Html.LabelFor(m => m.Leeftijd)
    @Html.TextBoxFor(m => m.Leeftijd, "", new { @class = "form-control" })
    @*@Html.ValidationMessageFor(m => m.Leeftijd,"", new { @class = "text-danger" })*@
    <br />
    @Html.LabelFor(m => m.Geslacht)
    @Html.DropDownListFor(m => m.Geslacht, new SelectList(Enum.GetValues(typeof(Geslacht))), "", new { @class = "form-control" })
    <br />
    @Html.Label("Band")
    @Html.TextBox("band", (string)ViewBag.bandnaam, new { @class = "form-control" })
    <br />
    <input type="submit" value="Voeg toe" />

}

@*  OF  *@

<form asp-controller="BandLid" asp-action="Maak">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="Naam"></label>
    <input asp-for="Naam" class="form-control" />
    <span asp-validation-for="Naam" class="text-danger"></span>
    <br />
    <label asp-for="Leeftijd"></label>
    <input asp-for="Leeftijd" class="form-control" />
    <span asp-validation-for="Leeftijd" class="text-danger"></span>
    <br />
    <label asp-for="Geslacht"></label>
    <select asp-for="Geslacht" asp-items="new SelectList(Enum.GetValues(typeof(Geslacht)))" class="form-control"></select>
    <br />
    <label for="Band">Band</label>
    <input id="Band" name="band" value="@((string)ViewBag.bandnaam)" class="form-control" />
    <br />
    <input type="submit" value="Voeg toe" />
</form>
