﻿
@model Oefeningenreeks3.Models.Band

<h2>@Model.GetType().Name</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Naam)
    @Html.TextBoxFor(m => m.Naam, "", new { @class = "form-control" })
    @*@Html.ValidationMessageFor(m => m.Naam,"", new { @class = "text-danger" })*@
    <br />
    @Html.LabelFor(m => m.Jaar)
    @Html.TextBoxFor(m => m.Jaar, "", new { @class = "form-control" })
    @*@Html.ValidationMessageFor(m => m.Naam,"", new { @class = "text-danger" })*@
    <br />
    <input type="submit" value="Voeg toe" />
}

@* OF  *@

<form asp-controller="Band" asp-action="Maak">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="Naam"></label>
    <input asp-for="Naam" class="form-control" />
    <span asp-validation-for="Naam" class="text-danger"></span>
    <br />
    <label asp-for="Jaar"></label>
    <input asp-for="Jaar" class="form-control" />
    <span asp-validation-for="Jaar" class="text-danger"></span>
    <br />
    <input type="submit" value="Voeg toe" />
</form>

